VITE_APP_DEVTOOLS=1
VITE_APP_LOCAL_COORDS_DATA=0
VITE_APP_LOCAL_EVENTS_DATA=0

VITE_COMMA_URL_ROOT=https://api.comma.ai/
VITE_ATHENA_URL_ROOT=https://athena.comma.ai/
VITE_BILLING_URL_ROOT=https://billing.comma.ai/
VITE_USERADMIN_URL_ROOT=https://useradmin.comma.ai/
