# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

bundle.yaml

dist
worker
.solid
.output
.vercel
.netlify

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
stats.html
**/pwa-assets

# misc
.DS_Store
*.pem
Thumbs.db

# debug
*.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# editors
.vscode/*
!.vscode/extensions.json
.idea
*.iml
*.swp
.project
.classpath
*.launch
.settings/
