/* MINIMAP / PROGRESS BAR */
.minimap-holder {
  position: relative;
  width: 100%;
  background-color: #000;
  min-height: 45px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.minimap-progress-bar {
  position: absolute;
  top: 0px;
  background: linear-gradient(to left, rgba(25, 255, 25, 0.5), rgba(25, 255, 25, 0.1) 200px, rgba(255, 255, 255, 0) 250px);
  border-right: 2px solid rgba(25, 255, 25, 1);
  height: 100%;
}

/* SEGMENTS */
.segments {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.segments .segment {
  position: relative;
  height: 100%;
  background-color: #bbb;
}
.segments .segment .segment-color {
  height: 100%;
  width: 100%;
}
.segments .segment .segment-color.active {
  background-color: rgb(20, 200, 20);
}
