/*

  Explorer Base Styles
  ~~~~~~~~~~~~~~~~~~~~

*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-size: 16px;
}

body {
  background: #16181A;
  font-family: 'Inter', sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
}

/*

  Scrollbar
  ~~~~~~~~~~

*/

::-webkit-scrollbar-track,
::-ms-track {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

::-webkit-scrollbar-thumb,
::-ms-thumb {
  background-color: transparent;
  border-radius: 8px;
}

*:hover::-webkit-scrollbar-thumb,
*:hover::-ms-thumb {
  background-color: #49545B;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, .125), 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb:hover,
::-ms-thumb:hover {
  background-color: #596971;
}

::-webkit-scrollbar-thumb:active,
::-ms-thumb:hover {
  background-color: #49545B;
  box-shadow: none;
}
