name: build

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: get build info
        id: build_info
        run: echo timestamp=$(git show -s --format=%cI) >> $GITHUB_OUTPUT

      - run: bun install
      - run: bun run build:production
        env:
          VITE_APP_GIT_SHA: ${{ github.sha }}
          VITE_APP_GIT_TIMESTAMP: ${{ steps.build_info.outputs.timestamp }}

      - name: Upload built project
        uses: actions/upload-artifact@v4
        with:
          path: ./dist
          overwrite: true
          retention-days: 1
          name: build-artifacts-${{ github.run_id }}
